# This file is used as the .env file in tests
#
# Copy it to .env and replace with production information
GRAPHQL_URL=http://localhost:3000/graphql
GRAPHQL_API_KEY=GRAPHQL_API_KEY
MAPBOX_ACCESS_TOKEN=MAPBOX_ACCESS_TOKEN
MAPBOX_STYLE_PATH=cityofboston/cj1p0mw1x000b2rmrocwwpyui
